.cardDetail {
    border-radius: 20px;
    border: solid 3px #479D31;
    width: 500px;
    height: 820px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardDetail img {
    width: 500px;
    height: 500px;
}
.prodDescrip {
    margin-top: 0;
}