.cardProduct {
    border: solid 1px orange;
    width: 350px;
    height: 570px;
    border-radius: 20px;
}
.imgCard {
    width: 350px;
    height: 350px;
    overflow: hidden;
    border-radius: 20px 20px 0 0 ;
}