.contBlq1 {
    margin-top: 550px;
}
.saludo {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid 2px yellow;
}